
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

button {
    color: #fff;
    font-family: montserrat;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 20px 20px;
    background-color: #000000;
    border-radius: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #fed620;
    color: #000000;
}


.sponsor-container{
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.sponsor-logo {
    width: 300px;
    height: 200px;
    background-color: #ddd;
    margin: 10px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sony { background-image: url('../img/sony-logo.png'); }
#tecno { background-image: url('../img/tecno-logo.png'); }
#infinix { background-image: url('../img/infinix-logo.png'); }
#redmi { background-image: url('../img/redmi-logo.png'); }
#interswitch { background-image: url('../img/interswitch-logo.png'); }
#meta { background-image: url('../img/meta-logo.png'); }
#malta-guiness { background-image: url('../img/malta-logo.png'); }
#post { background-image: url('../img/post-logo.png'); }
#pulse { background-image: url('../img/pulse-logo.png'); }
#guardians { background-image: url('../img/guardians-logo.png'); }
#vanguard { background-image: url('../img/vanguard-logo.png'); }
#punch { background-image: url('../img/punch-logo.png'); }
#business-day { background-image: url('../img/business-day-logo.png'); }